/*header-start*/
.header{
    padding: 0 4.5%;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    @include phone(){
        flex-direction: column;
        padding: 0;
    }
    .firsttitle a{
        width: 80px;
        height: 49px;
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png");
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        @include phone(){
            margin: 10px 0;
        }
    }
    .navbar{
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        @include phone(){
            justify-content: center;
            width: 100%;
        }
        .nav-item{
            @include phone(){
                width: 50%;
                text-align: center;
                border: 1px solid $white;
            }
            a{
                padding: 30px 0;
                margin-left: 64px;
                font-size: 20px;
                color: $white;
                @include pad(){
                    margin-left: 40px;
                }
                @include phone(){
                    padding: 8px 0px;
                    margin-left: 0;
                }
            }
            a:hover{
                color: $link;
            }
        }
    }
}
/*header-end*/

/*footer-start*/
.footer{
    padding: 32px 0 39px 0;
    background-color: $primary-color;
    color: $white;
    @include pad(){
        padding: 32px 0;
    }
    @include phone(){
        padding: 24px 0;
    }
    .footer-info{
        padding-bottom: 24px;
        margin-bottom: 32px;
        justify-content: space-between;
        border-bottom: 1px solid $white;
        @include pad(){
            padding-bottom: 20px;
            margin-bottom: 24px;
        }
        @include pad(){
            padding-bottom: 24px;
            margin-bottom: 16px;
        }
    }
    .footer-nav{
        justify-content: space-between;
        align-items: center;
        .navbar{
            margin-bottom: 36px;
            justify-content: flex-start;
            @include pad(){
                margin-bottom: 18px;
            }
            @include phone(){
                display: none;
            }
            a{
                margin-right: 48px;
                font-size: 16px;
                color: $white;
                @include pad(){
                    margin-right: 40px;
                }
            }
        }
        .navbar a:hover{
            color: $link;
        }
    }
    img, a{
        display: inline-block;
        vertical-align: middle;
    }
    .contactinfo{
        .mb-16{
            margin-bottom: 16px;
            @include pad(){
                margin-bottom: 12px;
            }
        }
        img{
            @include pad(){
                width: 18px;
            }
        }
        a{
            margin-left: 16px;
            font-size: 36px;
            color: $white;
            @include pad(){
                margin-left: 8px;
                font-size: 20px;
            }
            @include phone(){
                margin-left: 4px;
                font-size: 16px;
            }
        }
        a:hover{
            color: $link;
        }
    }
    .social{
        li{
            margin-left: 32px;
            @include pad(){
                margin-left: 24px;
            }
        }
    }
    .social img{
        @include pad(){
            width: 24px;
        }
    }
    .social img:hover{
        transform: scale(1.25);
    }
    .copyright{
        justify-content: space-between;
        @include phone(){
            flex-direction: column;
        }
        p{
            @include phone(){
                margin-bottom: 8px;
            }
        }
        .terms{
            @include phone(){
                flex-direction: column;
            }
            a{
                margin-left: 48px;
                color: $white;
                &:hover{
                    color: $link;
                }
                @include pad(){
                    margin-left: 24px;
                }
                @include phone(){
                    margin: 0 0 8px 0;
                }
            }
        }
    }
}
/*footer-end*/