/*功能型屬性*/
.d-flex{
    display: flex;
}

/*共用屬性*/
body{
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @include pad(){
        max-width: 720px;
    }
    @include phone(){
        max-width: 375px;
    }
}