/*font weight*/
$regular-wght: 400;
$medium-wght: 500;
$bold-wght: 700;
$black-wght: 900;

/*pages color*/
$primary-color: #AA0601;
$secondary-color: #FBF2F2;

/*text color*/
$black: #000;
$light-black: #212529;
$white: #fff;
$gray: #707070;
$light-gray: #555555;
$dark-red: #650300;
$light-red: #AA0601;

/*border color*/
$border-white: #fff;
$border-red: #AA0601;
$border-gray: #CED4DA;

/*hover color*/
$link-hover: sandybrown;
$buttom-hover: #650300;