@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/*font weight*/
/*color*/
/*知識庫、斷點*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  display: block; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

/*全站樣式*/
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

/*容器屬性*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 495px; } }

/*工具類-通用類別樣式*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*header-start*/
.header {
  padding: 0 4.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AA0601; }
  @media (max-width: 767px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  .header .firsttitle a {
    width: 80px;
    height: 49px;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png");
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-width: 767px) {
      .header .firsttitle a {
        margin: 10px 0; } }
  .header .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 767px) {
      .header .navbar {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%; } }
    @media (max-width: 767px) {
      .header .navbar .nav-item {
        width: 50%;
        text-align: center;
        border: 1px solid #fff; } }
    .header .navbar .nav-item a {
      padding: 30px 0;
      margin-left: 64px;
      font-size: 20px;
      color: #fff; }
      @media (max-width: 992px) {
        .header .navbar .nav-item a {
          margin-left: 40px; } }
      @media (max-width: 767px) {
        .header .navbar .nav-item a {
          padding: 8px 0px;
          margin-left: 0; } }
    .header .navbar .nav-item a:hover {
      color: #FFAF60; }

/*header-end*/
/*footer-start*/
.footer {
  padding: 32px 0 39px 0;
  background-color: #AA0601;
  color: #fff; }
  @media (max-width: 992px) {
    .footer {
      padding: 32px 0; } }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0; } }
  .footer .footer-info {
    padding-bottom: 24px;
    margin-bottom: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff; }
    @media (max-width: 992px) {
      .footer .footer-info {
        padding-bottom: 20px;
        margin-bottom: 24px; } }
    @media (max-width: 992px) {
      .footer .footer-info {
        padding-bottom: 24px;
        margin-bottom: 16px; } }
  .footer .footer-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .footer-nav .navbar {
      margin-bottom: 36px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      @media (max-width: 992px) {
        .footer .footer-nav .navbar {
          margin-bottom: 18px; } }
      @media (max-width: 767px) {
        .footer .footer-nav .navbar {
          display: none; } }
      .footer .footer-nav .navbar a {
        margin-right: 48px;
        font-size: 16px;
        color: #fff; }
        @media (max-width: 992px) {
          .footer .footer-nav .navbar a {
            margin-right: 40px; } }
    .footer .footer-nav .navbar a:hover {
      color: #FFAF60; }
  .footer img, .footer a {
    display: inline-block;
    vertical-align: middle; }
  .footer .contactinfo .mb-16 {
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .footer .contactinfo .mb-16 {
        margin-bottom: 12px; } }
  @media (max-width: 992px) {
    .footer .contactinfo img {
      width: 18px; } }
  .footer .contactinfo a {
    margin-left: 16px;
    font-size: 36px;
    color: #fff; }
    @media (max-width: 992px) {
      .footer .contactinfo a {
        margin-left: 8px;
        font-size: 20px; } }
    @media (max-width: 767px) {
      .footer .contactinfo a {
        margin-left: 4px;
        font-size: 16px; } }
  .footer .contactinfo a:hover {
    color: #FFAF60; }
  .footer .social li {
    margin-left: 32px; }
    @media (max-width: 992px) {
      .footer .social li {
        margin-left: 24px; } }
  @media (max-width: 992px) {
    .footer .social img {
      width: 24px; } }
  .footer .social img:hover {
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
  .footer .copyright {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 767px) {
      .footer .copyright p {
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .footer .copyright .terms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer .copyright .terms a {
      margin-left: 48px;
      color: #fff; }
      .footer .copyright .terms a:hover {
        color: #FFAF60; }
      @media (max-width: 992px) {
        .footer .copyright .terms a {
          margin-left: 24px; } }
      @media (max-width: 767px) {
        .footer .copyright .terms a {
          margin: 0 0 8px 0; } }

/*footer-end*/
.index .sectitle {
  font-weight: 700;
  font-size: 48px;
  color: #650300; }
  @media (max-width: 992px) {
    .index .sectitle {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .index .sectitle {
      font-size: 24px; } }

.index .banner {
  height: 840px;
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .index .banner {
      background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png); } }
  @media (max-width: 767px) {
    .index .banner {
      height: 394px;
      background-position: left; } }
  .index .banner .container {
    height: 100%;
    /*須將其高度撐開與banner一樣align-items: center才會有效果*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; }
  .index .banner .slogan {
    font-size: 36px;
    font-weight: 500;
    color: #650300; }
    @media (max-width: 992px) {
      .index .banner .slogan {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .index .banner .slogan {
        font-size: 16px; } }
  .index .banner span {
    font-weight: 700;
    font-size: 64px; }
    @media (max-width: 992px) {
      .index .banner span {
        font-size: 48px; } }
    @media (max-width: 767px) {
      .index .banner span {
        font-size: 32px; } }

.index .feature {
  padding: 60px 0 80px 0;
  background-color: #FBF2F2;
  text-align: center; }
  @media (max-width: 992px) {
    .index .feature {
      padding: 40px 0 56px 0; } }
  @media (max-width: 767px) {
    .index .feature {
      padding: 32px 0 40px 0; } }
  .index .feature .sectitle {
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .index .feature .sectitle {
        margin-bottom: 28px; } }
  .index .feature .feature-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .index .feature .feature-info li {
      width: 23%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .index .feature .feature-info li {
          width: 48%;
          margin-bottom: 45px; } }
      @media (max-width: 767px) {
        .index .feature .feature-info li {
          width: 98%; } }
    .index .feature .feature-info img {
      width: 100px;
      height: 100px;
      margin-bottom: 24px; }
    .index .feature .feature-info h4 {
      font-weight: 700;
      margin-bottom: 8px;
      font-size: 24px;
      color: #650300; }
    .index .feature .feature-info p {
      width: 98%;
      font-size: 16px;
      text-align: left; }
      @media (max-width: 992px) {
        .index .feature .feature-info p {
          width: 80%; } }

.index .classic {
  padding: 60px 0 80px 0;
  text-align: center; }
  @media (max-width: 992px) {
    .index .classic {
      padding: 40px 0 56px 0; } }
  @media (max-width: 767px) {
    .index .classic {
      padding: 32px 0 40px 0; } }
  .index .classic .sectitle {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .index .classic .sectitle {
        margin-bottom: 28px; } }
  .index .classic .classic-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .index .classic .classic-info li {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 767px) {
        .index .classic .classic-info li {
          position: relative; } }
    .index .classic .classic-info li:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      @media (max-width: 992px) {
        .index .classic .classic-info li:nth-child(2) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
  .index .classic .prod {
    width: 60%; }
    @media (max-width: 767px) {
      .index .classic .prod {
        width: 100%; } }
  .index .classic .classic-item1, .index .classic .classic-item3 {
    margin-left: 3%; }
    @media (max-width: 992px) {
      .index .classic .classic-item1, .index .classic .classic-item3 {
        margin-left: 4.5%; } }
  .index .classic .classic-item2 {
    margin-right: 3%; }
    @media (max-width: 992px) {
      .index .classic .classic-item2 {
        margin: 0 0 0 4.5%; } }
  @media (max-width: 767px) {
    .index .classic .classic-item1, .index .classic .classic-item2, .index .classic .classic-item3 {
      margin: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }
  .index .classic .icon {
    width: 48px;
    margin-right: 3%; }
    @media (max-width: 992px) {
      .index .classic .icon {
        width: 40px; } }
  .index .classic .thirdtitle {
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    color: #AA0601; }
    @media (max-width: 992px) {
      .index .classic .thirdtitle {
        font-size: 28px; } }
  .index .classic .mb-32 {
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .index .classic .mb-32 {
        margin-bottom: 8px; } }

.index .joint {
  padding: 60px 0 80px 0;
  text-align: center;
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png);
  background-size: cover;
  background-position: center;
  /*圖片蓋上一層透明白色*/ }
  @media (max-width: 992px) {
    .index .joint {
      padding: 40px 0 56px 0;
      background-position: left bottom; } }
  @media (max-width: 767px) {
    .index .joint {
      padding: 32px 0 40px 0; } }
  .index .joint .sectitle {
    margin-bottom: 40px;
    color: #fff; }
    @media (max-width: 992px) {
      .index .joint .sectitle {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .index .joint .sectitle {
        margin-bottom: 20px; } }
  .index .joint .joint-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .index .joint .joint-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .index .joint .joint-item1, .index .joint .joint-item2 {
    width: 48.5%;
    position: relative; }
    @media (max-width: 767px) {
      .index .joint .joint-item1, .index .joint .joint-item2 {
        width: 100%; } }
  .index .joint .joint-item1::before, .index .joint .joint-item2::before {
    content: '';
    background: rgba(255, 255, 255, 0.28);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  @media (max-width: 767px) {
    .index .joint .joint-item1 {
      margin-bottom: 16px; } }
  .index .joint img {
    width: 100%; }
  .index .joint .thirdtitle {
    font-weight: 700;
    font-size: 72px;
    color: #AA0601;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2; }
    @media (max-width: 992px) {
      .index .joint .thirdtitle {
        font-size: 32px; } }

.index .customer {
  padding: 60px 0 80px 0; }
  @media (max-width: 992px) {
    .index .customer {
      padding: 40px 0 56px 0;
      background-position: left bottom; } }
  @media (max-width: 767px) {
    .index .customer {
      padding: 32px 0 40px 0; } }
  .index .customer .sectitle {
    margin-bottom: 40px;
    text-align: center; }
    @media (max-width: 992px) {
      .index .customer .sectitle {
        margin-bottom: 32px; } }
  .index .customer .customer-info {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 992px) {
      .index .customer .customer-info :nth-child(1), .index .customer .customer-info :nth-child(2) {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .index .customer .customer-info :nth-child(1), .index .customer .customer-info :nth-child(2), .index .customer .customer-info :nth-child(3) {
        margin-bottom: 16px; } }
    .index .customer .customer-info > li {
      width: 24%;
      border-radius: 4px;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029; }
      @media (max-width: 992px) {
        .index .customer .customer-info > li {
          width: 48.5%; } }
      @media (max-width: 767px) {
        .index .customer .customer-info > li {
          width: 100%; } }
    .index .customer .customer-info img {
      margin-bottom: 16px; }
      @media (max-width: 992px) {
        .index .customer .customer-info img {
          width: 100%; } }
  .index .customer .customer-item li {
    width: 87%;
    margin: 0 auto;
    color: #212529; }
    .index .customer .customer-item li div {
      height: 160px; }
    .index .customer .customer-item li .name {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px; }
    .index .customer .customer-item li .recommend {
      font-size: 16px; }
    .index .customer .customer-item li .date {
      margin-bottom: 16px;
      font-size: 14px;
      color: #707070; }

.index .suggest {
  padding: 60px 0 80px 0;
  background-color: #FBF2F2; }
  @media (max-width: 992px) {
    .index .suggest {
      padding: 40px 0 56px 0;
      background-position: left bottom; } }
  @media (max-width: 767px) {
    .index .suggest {
      padding: 32px 0 40px 0; } }
  .index .suggest form {
    width: 65%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 767px) {
      .index .suggest form {
        width: 100%; } }
  .index .suggest .sectitle {
    margin-bottom: 24px;
    text-align: center;
    color: #000; }
    @media (max-width: 767px) {
      .index .suggest .sectitle {
        margin-bottom: 20px; } }
  .index .suggest p {
    margin-bottom: 20px;
    font-size: 20px; }
    @media (max-width: 992px) {
      .index .suggest p {
        margin-bottom: 16px;
        font-size: 16px; } }
    @media (max-width: 767px) {
      .index .suggest p {
        margin-bottom: 8px; } }
  .index .suggest .form-group {
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .index .suggest .form-group {
        margin-bottom: 8px; } }
    .index .suggest .form-group label {
      font-size: 16px; }
      @media (max-width: 992px) {
        .index .suggest .form-group label {
          font-size: 14px; } }
    .index .suggest .form-group input, .index .suggest .form-group textarea {
      width: 100%;
      background-color: #FBF2F2;
      border: 1px solid #000; }
    .index .suggest .form-group input {
      padding: 14px 16px;
      height: 50px; }
      @media (max-width: 992px) {
        .index .suggest .form-group input {
          height: 36px; } }
  .index .suggest .form-group-check {
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .index .suggest .form-group-check {
        margin-bottom: 20px; } }
    .index .suggest .form-group-check label {
      font-size: 16px; }
      @media (max-width: 992px) {
        .index .suggest .form-group-check label {
          font-size: 14px; } }
  .index .suggest .button {
    width: 50%;
    padding: 16px 0;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #AA0601;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer; }
    @media (max-width: 992px) {
      .index .suggest .button {
        padding: 10px 0;
        font-size: 14px; } }
    @media (max-width: 767px) {
      .index .suggest .button {
        padding: 8px 0; } }
  .index .suggest .button:hover {
    background-color: #650300; }

.optical {
  /*topnav*/
  /*banner*/
  /*prod-optical*/ }
  .optical .topnav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .optical .topnav li {
      width: 33.3%;
      border: 1px solid #DCDCDC; }
  .optical .topnav-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 27px 0;
    border-bottom: 8px solid transparent; }
    @media (max-width: 992px) {
      .optical .topnav-item {
        padding: 14px 0; } }
    @media (max-width: 767px) {
      .optical .topnav-item {
        padding: 6px 0;
        border-bottom: 4px solid transparent; } }
    .optical .topnav-item .icon {
      width: 48px;
      height: 48px;
      margin-right: 3%; }
      @media (max-width: 992px) {
        .optical .topnav-item .icon {
          width: 32px;
          height: 32px; } }
      @media (max-width: 767px) {
        .optical .topnav-item .icon {
          width: 16px;
          height: 16px; } }
    .optical .topnav-item span {
      font-weight: 500;
      font-size: 32px;
      color: #000; }
      @media (max-width: 992px) {
        .optical .topnav-item span {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .optical .topnav-item span {
          font-size: 14px; } }
  .optical .topnav-item:focus, .optical .topnav-item:hover {
    border-bottom: 8px solid #AA0601; }
    @media (max-width: 767px) {
      .optical .topnav-item:focus, .optical .topnav-item:hover {
        border-bottom: 4px solid #AA0601; } }
  .optical .banner-photo-left, .optical .banner-photo-right {
    width: 50%;
    height: 304px;
    background-size: cover;
    background-position: center center; }
    @media (max-width: 767px) {
      .optical .banner-photo-left, .optical .banner-photo-right {
        height: 148px; } }
  .optical .banner-photo-left {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png); }
    @media (max-width: 992px) {
      .optical .banner-photo-left {
        background-image: url(../images/banner-1.jpg);
        background-position: center 70%; } }
  .optical .banner-photo-right {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png); }
    @media (max-width: 992px) {
      .optical .banner-photo-right {
        background-image: url(../images/banner-2.jpg); } }
  .optical .prod-optical {
    padding: 80px 0 160px 0; }
    .optical .prod-optical .sectitle {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center; }
      @media (max-width: 992px) {
        .optical .prod-optical .sectitle {
          margin-bottom: 32px;
          font-size: 24px; } }
      @media (max-width: 767px) {
        .optical .prod-optical .sectitle {
          margin-bottom: 20px;
          font-size: 16px; } }
      .optical .prod-optical .sectitle span {
        font-weight: 500;
        font-size: 42px; }
        @media (max-width: 992px) {
          .optical .prod-optical .sectitle span {
            font-size: 32px; } }
        @media (max-width: 767px) {
          .optical .prod-optical .sectitle span {
            font-size: 20px; } }
  .optical .prod-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .optical .prod-item {
    margin-bottom: 104px;
    width: 23%; }
    @media (max-width: 992px) {
      .optical .prod-item {
        margin-bottom: 72px;
        width: 48%; } }
    @media (max-width: 767px) {
      .optical .prod-item {
        margin-bottom: 32px;
        width: 100%; } }
    .optical .prod-item img {
      width: 100%; }
  @media (max-width: 992px) {
    .optical .hide-md {
      display: none; } }
  @media (max-width: 767px) {
    .optical .hide-sm {
      display: none; } }
  .optical .prod-detail {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 24px; }
    @media (max-width: 992px) {
      .optical .prod-detail {
        line-height: 30px; } }
    @media (max-width: 767px) {
      .optical .prod-detail {
        font-size: 16px; } }
    .optical .prod-detail .price {
      font-weight: 500;
      color: #AA0601; }
  .optical .colors-1, .optical .colors-2 {
    width: 24px;
    height: 24px;
    border-radius: 4px; }
    @media (max-width: 767px) {
      .optical .colors-1, .optical .colors-2 {
        width: 16px;
        height: 16px; } }
  .optical .colors-1 {
    margin-right: 8px;
    background-color: #5F3E2D; }
    @media (max-width: 767px) {
      .optical .colors-1 {
        margin-right: 4px; } }
  .optical .colors-2 {
    background-color: #B75929; }
  .optical .navbutton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .optical .navbutton li {
      border: 1px solid #555555; }
    .optical .navbutton a {
      padding: 12px 16px;
      font-size: 18px;
      color: #555555; }
      @media (max-width: 767px) {
        .optical .navbutton a {
          padding: 12px 15px;
          font-size: 16px; } }
    .optical .navbutton a:hover {
      background-color: #000;
      color: #fff; }
    @media (max-width: 767px) {
      .optical .navbutton .previouspage, .optical .navbutton .nextpage {
        padding: 12px 10px; } }
    .optical .navbutton .nextpage {
      background-color: #F2F2F2; }

.sunglasses {
  /*topnav*/
  /*banner*/
  /*prod-sunglasses*/ }
  .sunglasses .topnav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000; }
    .sunglasses .topnav li {
      width: 33.3%;
      border: 1px solid #DCDCDC; }
  .sunglasses .topnav-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 27px 0;
    border-bottom: 8px solid transparent; }
    @media (max-width: 992px) {
      .sunglasses .topnav-item {
        padding: 14px 0; } }
    @media (max-width: 767px) {
      .sunglasses .topnav-item {
        padding: 6px 0;
        border-bottom: 4px solid transparent; } }
    .sunglasses .topnav-item .icon {
      width: 48px;
      height: 48px;
      margin-right: 3%; }
      @media (max-width: 992px) {
        .sunglasses .topnav-item .icon {
          width: 32px;
          height: 32px; } }
      @media (max-width: 767px) {
        .sunglasses .topnav-item .icon {
          width: 16px;
          height: 16px; } }
    .sunglasses .topnav-item p {
      font-weight: 500;
      font-size: 32px;
      color: #000; }
      @media (max-width: 992px) {
        .sunglasses .topnav-item p {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .sunglasses .topnav-item p {
          font-size: 14px; } }
  .sunglasses .topnav-item:focus, .sunglasses .topnav-item:hover {
    border-bottom: 8px solid #AA0601; }
    @media (max-width: 767px) {
      .sunglasses .topnav-item:focus, .sunglasses .topnav-item:hover {
        border-bottom: 4px solid #AA0601; } }
  .sunglasses .banner-photo-left, .sunglasses .banner-photo-right {
    width: 50%;
    height: 304px;
    background-size: cover;
    background-position: center center; }
    @media (max-width: 767px) {
      .sunglasses .banner-photo-left, .sunglasses .banner-photo-right {
        height: 148px; } }
  .sunglasses .banner-photo-left {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-3.png); }
    @media (max-width: 992px) {
      .sunglasses .banner-photo-left {
        background-image: url(../images/banner-3.jpg); } }
  .sunglasses .banner-photo-right {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png);
    background-position: center 10%; }
    @media (max-width: 992px) {
      .sunglasses .banner-photo-right {
        background-image: url(../images/banner-4.jpg);
        background-position: center 20%; } }
  .sunglasses .prod-sunglasses {
    padding: 80px 0 160px 0; }
    .sunglasses .prod-sunglasses .sectitle {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center; }
      @media (max-width: 992px) {
        .sunglasses .prod-sunglasses .sectitle {
          margin-bottom: 32px;
          font-size: 24px; } }
      @media (max-width: 767px) {
        .sunglasses .prod-sunglasses .sectitle {
          margin-bottom: 20px;
          font-size: 16px; } }
      .sunglasses .prod-sunglasses .sectitle span {
        font-weight: 500;
        font-size: 42px; }
        @media (max-width: 992px) {
          .sunglasses .prod-sunglasses .sectitle span {
            font-size: 32px; } }
        @media (max-width: 767px) {
          .sunglasses .prod-sunglasses .sectitle span {
            font-size: 20px; } }
  .sunglasses .prod-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .sunglasses .prod-item {
    margin-bottom: 104px;
    width: 31%; }
    @media (max-width: 992px) {
      .sunglasses .prod-item {
        margin-bottom: 72px;
        width: 48%; } }
    @media (max-width: 767px) {
      .sunglasses .prod-item {
        margin-bottom: 32px;
        width: 100%; } }
    .sunglasses .prod-item img {
      width: 100%;
      height: 224px;
      -o-object-fit: cover;
         object-fit: cover; }
  @media (max-width: 767px) {
    .sunglasses .hide-sm {
      display: none; } }
  .sunglasses .prod-detail {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 24px; }
    @media (max-width: 992px) {
      .sunglasses .prod-detail {
        line-height: 30px; } }
    @media (max-width: 767px) {
      .sunglasses .prod-detail {
        font-size: 16px; } }
    .sunglasses .prod-detail .price {
      font-weight: 500;
      color: #AA0601; }
  .sunglasses .colors-1, .sunglasses .colors-2 {
    width: 24px;
    height: 24px;
    border-radius: 4px; }
    @media (max-width: 767px) {
      .sunglasses .colors-1, .sunglasses .colors-2 {
        width: 16px;
        height: 16px; } }
  .sunglasses .colors-1 {
    margin-right: 8px;
    background-color: #5F3E2D; }
    @media (max-width: 767px) {
      .sunglasses .colors-1 {
        margin-right: 4px; } }
  .sunglasses .colors-2 {
    background-color: #B75929; }
  .sunglasses .navbutton {
    display: none; }
    @media (max-width: 767px) {
      .sunglasses .navbutton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .sunglasses .navbutton li {
          border: 1px solid #555555; }
        .sunglasses .navbutton a {
          padding: 12px 15px;
          font-size: 16px;
          color: #555555; }
        .sunglasses .navbutton a:hover {
          background-color: #000;
          color: #fff; }
        .sunglasses .navbutton .previouspage, .sunglasses .navbutton .nextpage {
          padding: 12px 10px; }
        .sunglasses .navbutton .nextpage {
          background-color: #F2F2F2; } }

.location .container {
  padding-top: 96px;
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .location .container {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .location .container {
      padding-top: 28px;
      padding-bottom: 56px; } }

.location .sectitle {
  margin-bottom: 60px;
  padding: 0 16px;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  border-left: 8px solid #AA0601; }
  @media (max-width: 992px) {
    .location .sectitle {
      margin-bottom: 40px;
      border-left: 4px solid #AA0601; } }
  @media (max-width: 767px) {
    .location .sectitle {
      margin-bottom: 24px;
      padding: 0 8px;
      font-size: 28px; } }

.location .regionbox {
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .location .regionbox {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .location .regionbox {
      margin-bottom: 20px; } }
  .location .regionbox label {
    margin-right: 20px;
    font-size: 24px; }
    @media (max-width: 992px) {
      .location .regionbox label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .location .regionbox label {
        font-size: 14px; } }
  .location .regionbox select {
    width: 25%;
    padding: 10px 16px;
    outline: 1px solid #DCDCDC; }
    @media (max-width: 992px) {
      .location .regionbox select {
        width: 33%; } }
    @media (max-width: 767px) {
      .location .regionbox select {
        width: 75%; } }

.location .store {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 992px) {
    .location .store {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .location .store > li {
    width: 31.5%;
    margin-bottom: 32px;
    border: 1px solid #DCDCDC; }
    @media (max-width: 992px) {
      .location .store > li {
        width: 48%;
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .location .store > li {
        width: 100%;
        margin-bottom: 16px; } }
  .location .store > li:nth-child(1), .location .store li:nth-child(2), .location .store li:nth-child(4) {
    margin-right: 30px; }
    @media (max-width: 992px) {
      .location .store > li:nth-child(1), .location .store li:nth-child(2), .location .store li:nth-child(4) {
        margin-right: 0; } }

.location .thirdtitle {
  padding: 12px 24px;
  font-size: 24px;
  border-bottom: 1px solid #DCDCDC; }
  @media (max-width: 992px) {
    .location .thirdtitle {
      padding: 8px 24px;
      font-size: 16px; } }

.location .store-info {
  padding: 16px 24px; }
  .location .store-info li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px; }
  .location .store-info li:nth-child(3) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0; }
  .location .store-info .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px; }
  .location .store-info p {
    font-size: 20px; }
    @media (max-width: 992px) {
      .location .store-info p {
        font-size: 14px; } }

.location .detail-btn {
  width: 100%;
  padding: 20px 0;
  font-size: 19px;
  text-align: center;
  background-color: #000;
  color: #fff; }
  @media (max-width: 992px) {
    .location .detail-btn {
      font-size: 16px; } }

.location .detail-btn:hover {
  background-color: #650300; }

.location-2 .container {
  padding-top: 96px;
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .location-2 .container {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .location-2 .container {
      padding-top: 28px;
      padding-bottom: 56px; } }

.location-2 .sectitle {
  margin-bottom: 60px;
  padding: 0 16px;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  border-left: 8px solid #AA0601; }
  @media (max-width: 992px) {
    .location-2 .sectitle {
      margin-bottom: 40px;
      border-left: 4px solid #AA0601; } }
  @media (max-width: 767px) {
    .location-2 .sectitle {
      margin-bottom: 24px;
      padding: 0 8px;
      font-size: 28px; } }

.location-2 .regionbox {
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .location-2 .regionbox {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .location-2 .regionbox {
      margin-bottom: 20px; } }
  .location-2 .regionbox label {
    margin-right: 20px;
    font-size: 24px; }
    @media (max-width: 992px) {
      .location-2 .regionbox label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .location-2 .regionbox label {
        font-size: 14px; } }
  .location-2 .regionbox select {
    width: 25%;
    padding: 10px 16px;
    outline: 1px solid #DCDCDC; }
    @media (max-width: 992px) {
      .location-2 .regionbox select {
        width: 33%; } }
    @media (max-width: 767px) {
      .location-2 .regionbox select {
        width: 75%; } }

.location-2 .store {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .location-2 .store {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.location-2 .store-list {
  width: 40%; }
  @media (max-width: 992px) {
    .location-2 .store-list {
      margin-bottom: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; } }
  @media (max-width: 767px) {
    .location-2 .store-list {
      margin-bottom: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 992px) {
    .location-2 .store-list img {
      width: 48%; } }
  @media (max-width: 767px) {
    .location-2 .store-list img {
      width: 100%; } }
  .location-2 .store-list .store-infobox {
    border: 1px solid #DCDCDC; }
    @media (max-width: 992px) {
      .location-2 .store-list .store-infobox {
        width: 48%;
        display: inline-block; } }
    @media (max-width: 767px) {
      .location-2 .store-list .store-infobox {
        width: 100%; } }

.location-2 .thirdtitle {
  padding: 12px 24px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #DCDCDC; }
  @media (max-width: 992px) {
    .location-2 .thirdtitle {
      padding: 8px 16px;
      font-size: 16px; } }
  @media (max-width: 767px) {
    .location-2 .thirdtitle {
      padding: 8px 24px; } }

.location-2 .store-info {
  padding: 16px 24px; }
  .location-2 .store-info li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px; }
  .location-2 .store-info li:nth-child(3) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0px; }
  .location-2 .store-info .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px; }
  .location-2 .store-info p {
    font-size: 20px; }
    @media (max-width: 992px) {
      .location-2 .store-info p {
        font-size: 14px; } }

.location-2 .map {
  width: 57%; }
  @media (max-width: 992px) {
    .location-2 .map {
      width: 100%; } }

.faq .container {
  padding-top: 96px;
  padding-bottom: 160px; }

@media (max-width: 992px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 96px; } }

@media (max-width: 767px) {
  .faq {
    padding-top: 28px;
    padding-bottom: 56px; } }

.faq .sectitle {
  padding: 0 16px;
  margin-bottom: 60px;
  font-size: 48px;
  font-size: 700;
  border-left: 8px solid #AA0601; }
  @media (max-width: 992px) {
    .faq .sectitle {
      margin-bottom: 40px;
      border-left: 4px solid #AA0601; } }
  @media (max-width: 767px) {
    .faq .sectitle {
      padding: 0 8px;
      margin-bottom: 24px;
      font-size: 28px; } }

.faq .thirdtitle {
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 700; }
  @media (max-width: 992px) {
    .faq .thirdtitle {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .faq .thirdtitle {
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 400; } }

.faq .faq-info {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .faq .faq-info {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .faq .faq-info {
      margin-bottom: 20px; } }

.faq .faq-info:nth-last-child(1) {
  margin-bottom: 0; }

.faq .fourthtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .faq .fourthtitle {
      margin-bottom: 8px;
      font-size: 16px; } }

.faq .answer {
  margin-left: 95px;
  font-size: 16px; }
  @media (max-width: 992px) {
    .faq .answer {
      margin-left: 60px; } }
  @media (max-width: 767px) {
    .faq .answer {
      margin-left: 0;
      font-size: 14px; } }
  @media (max-width: 767px) {
    .faq .answer p:nth-child(2) {
      margin-bottom: 20px; } }

.blog {
  /*top-list*/
  /*blog-box*/
  /*navbutton*/ }
  .blog .top-list {
    background-color: #650300; }
    @media (max-width: 992px) {
      .blog .top-list {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .blog .top-list {
        display: none; } }
    .blog .top-list .container {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .blog .top-navbar a {
    padding: 12px 48px 12px 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 992px) {
      .blog .top-navbar a {
        padding: 16px 32px 16px 0;
        font-size: 16px; } }
  .blog .top-navbar a:hover {
    color: #FFAF60; }
  .blog .blog-box {
    padding-top: 40px;
    padding-bottom: 160px; }
    @media (max-width: 992px) {
      .blog .blog-box {
        padding-top: 32px;
        padding-bottom: 96px; } }
    @media (max-width: 767px) {
      .blog .blog-box {
        padding-top: 28px;
        padding-bottom: 56px; } }
  .blog .sectitle {
    padding: 0 16px;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
    border-left: 8px solid #AA0601; }
    @media (max-width: 992px) {
      .blog .sectitle {
        margin-bottom: 40px;
        border-left: 4px solid #AA0601; } }
    @media (max-width: 767px) {
      .blog .sectitle {
        padding: 0 8px;
        margin-bottom: 28px;
        font-size: 28px; } }
  .blog .blog-list {
    margin-bottom: 96px; }
    @media (max-width: 992px) {
      .blog .blog-list {
        margin-bottom: 64px; } }
    @media (max-width: 767px) {
      .blog .blog-list {
        margin-bottom: 40px; } }
  .blog .blog-item {
    margin-bottom: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .blog .blog-item {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blog .blog-item {
        margin-bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .blog .blog-item:nth-last-child(1) {
      margin-bottom: 0; }
    .blog .blog-item .photo-box {
      width: 57%; }
      @media (max-width: 992px) {
        .blog .blog-item .photo-box {
          width: 48%; } }
      @media (max-width: 767px) {
        .blog .blog-item .photo-box {
          width: 100%;
          margin-bottom: 8px; } }
      .blog .blog-item .photo-box img {
        width: 100%; }
  .blog .blog-info {
    width: 40%; }
    @media (max-width: 992px) {
      .blog .blog-info {
        width: 48%; } }
    @media (max-width: 767px) {
      .blog .blog-info {
        width: 100%; } }
  .blog .thirdtitle {
    font-size: 32px;
    color: #650300; }
    @media (max-width: 992px) {
      .blog .thirdtitle {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .blog .thirdtitle {
        font-size: 16px; } }
  .blog .blog-topic {
    margin-bottom: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 992px) {
      .blog .blog-topic {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .blog .blog-topic {
        margin-bottom: 0; } }
  .blog .forthtitle {
    font-size: 20px;
    font-weight: 500;
    color: #000; }
    @media (max-width: 992px) {
      .blog .forthtitle {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blog .forthtitle {
        font-size: 14px; } }
  .blog .date {
    font-size: 16px;
    font-weight: 500; }
    @media (max-width: 992px) {
      .blog .date {
        font-size: 14px; } }
  .blog .blog-detail p {
    margin-bottom: 14px;
    font-size: 20px;
    color: #555555; }
    @media (max-width: 992px) {
      .blog .blog-detail p {
        font-size: 14px; } }
    .blog .blog-detail p a {
      color: #555555; }
  .blog .blog-detail .more {
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
    text-align: right;
    color: #650300; }
    .blog .blog-detail .more:hover {
      -webkit-transform: scale(1.25);
          -ms-transform: scale(1.25);
              transform: scale(1.25); }
  .blog .blog-detail .md-more {
    font-weight: 700; }
  .blog .hide-pc {
    display: none; }
    @media (max-width: 992px) {
      .blog .hide-pc {
        display: block; } }
    @media (max-width: 767px) {
      .blog .hide-pc {
        display: none; } }
  @media (max-width: 992px) {
    .blog .hide-md {
      display: none; } }
  @media (max-width: 767px) {
    .blog .hide-md {
      display: none; } }
  .blog .navbutton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .blog .navbutton li {
      border: 1px solid #555555; }
    .blog .navbutton a {
      padding: 12px 16px;
      font-size: 18px;
      color: #555555; }
      @media (max-width: 767px) {
        .blog .navbutton a {
          padding: 12px 15px;
          font-size: 16px; } }
      .blog .navbutton a:hover {
        background-color: #000;
        color: #fff; }
    .blog .navbutton .previouspage, .blog .navbutton .nextpage {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 29px; }
      @media (max-width: 767px) {
        .blog .navbutton .previouspage, .blog .navbutton .nextpage {
          width: 75px;
          font-size: 17px; } }
    .blog .navbutton .nextpage {
      background-color: #F2F2F2; }

.blog-content {
  /*top-list*/
  /*pages-level*/
  /*blog-content-main*/
  /*topic*/
  /*blog-content-info*/
  /*share*/
  /*navbutton*/
  /*tagsbox*/ }
  .blog-content .top-list {
    background-color: #650300; }
    .blog-content .top-list .container {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  @media (max-width: 767px) {
    .blog-content .top-navbar {
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .blog-content .top-navbar a {
    padding: 12px 48px 12px 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 992px) {
      .blog-content .top-navbar a {
        padding: 16px 32px 16px 0;
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blog-content .top-navbar a {
        padding: 16px 0; } }
  .blog-content .top-navbar a:hover {
    color: #FFAF60; }
  @media (max-width: 767px) {
    .blog-content .search {
      display: none; } }
  .blog-content .blog-content-box {
    padding-top: 8px;
    padding-bottom: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .blog-content .blog-content-box {
        padding-bottom: 96px; } }
    @media (max-width: 767px) {
      .blog-content .blog-content-box {
        padding-bottom: 56px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .blog-content .pages-level a {
    margin-bottom: 8px;
    font-size: 16px;
    color: #000; }
    @media (max-width: 992px) {
      .blog-content .pages-level a {
        font-size: 14px;
        line-height: 24px; } }
    @media (max-width: 767px) {
      .blog-content .pages-level a {
        line-height: 21px; } }
  .blog-content .pages-level .special-plan {
    color: #AA0601; }
  .blog-content .blog-tags a {
    font-size: 24px;
    font-weight: 700;
    color: #AA0601; }
    @media (max-width: 992px) {
      .blog-content .blog-tags a {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blog-content .blog-tags a {
        font-size: 14px; } }
  .blog-content .blog-tags .special-tags {
    margin-right: 16px; }
    @media (max-width: 992px) {
      .blog-content .blog-tags .special-tags {
        margin-right: 8px; } }
    @media (max-width: 767px) {
      .blog-content .blog-tags .special-tags {
        margin-right: 4px; } }
  .blog-content .blog-content-main {
    width: 74%; }
    @media (max-width: 767px) {
      .blog-content .blog-content-main {
        width: 100%;
        margin-bottom: 30px; } }
  .blog-content .sectitle {
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 95px; }
    @media (max-width: 992px) {
      .blog-content .sectitle {
        margin-bottom: 4px;
        font-size: 32px; } }
    @media (max-width: 767px) {
      .blog-content .sectitle {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 30px; } }
  .blog-content .topic {
    margin-bottom: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .blog-content .topic {
        margin-bottom: 20px; } }
  .blog-content .thirdtitle {
    font-size: 28px;
    font-weight: 500; }
    @media (max-width: 992px) {
      .blog-content .thirdtitle {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blog-content .thirdtitle {
        font-size: 14px; } }
  .blog-content .date {
    font-size: 16px;
    color: #707070; }
    @media (max-width: 992px) {
      .blog-content .date {
        font-size: 14px; } }
  .blog-content .blog-content-info li {
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .blog-content .blog-content-info li {
        margin-bottom: 24px; } }
    .blog-content .blog-content-info li:nth-last-child(1) {
      margin-bottom: 48px; }
      @media (max-width: 992px) {
        .blog-content .blog-content-info li:nth-last-child(1) {
          margin-bottom: 28px; } }
      @media (max-width: 767px) {
        .blog-content .blog-content-info li:nth-last-child(1) {
          margin-bottom: 20px; } }
  .blog-content .blog-content-info img {
    width: 100%;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .blog-content .blog-content-info img {
        margin-bottom: 16px; } }
  .blog-content .blog-content-info p {
    font-size: 20px;
    color: #0A0A0A; }
  .blog-content .share {
    padding-bottom: 20px;
    margin-bottom: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #707070; }
    @media (max-width: 992px) {
      .blog-content .share {
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .blog-content .share {
        padding-bottom: 16px;
        margin-bottom: 10px; } }
    .blog-content .share li {
      margin-right: 16px;
      font-size: 20px;
      font-weight: 700; }
      @media (max-width: 992px) {
        .blog-content .share li {
          font-size: 16px; } }
    .blog-content .share a:hover {
      -webkit-transform: scale(1.25);
          -ms-transform: scale(1.25);
              transform: scale(1.25); }
  .blog-content .navbutton {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .blog-content .navbutton {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .blog-content .previous, .blog-content .next {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .blog-content .previous:hover, .blog-content .next:hover {
      -webkit-transform: scale(1.25);
          -ms-transform: scale(1.25);
              transform: scale(1.25); }
    .blog-content .previous p, .blog-content .next p {
      padding: 0 8px;
      font-size: 19px;
      line-height: 30px;
      color: #000; }
      @media (max-width: 992px) {
        .blog-content .previous p, .blog-content .next p {
          padding: 0 4px;
          font-size: 16px; } }
      .blog-content .previous p:hover, .blog-content .next p:hover {
        color: #FFAF60; }
  @media (max-width: 767px) {
    .blog-content .previous {
      margin-bottom: 8px; } }
  .blog-content .hide-pc {
    display: none; }
    @media (max-width: 767px) {
      .blog-content .hide-pc {
        display: block; } }
  @media (max-width: 767px) {
    .blog-content .hide-sm {
      display: none; } }
  .blog-content .tagsbox {
    width: 23%;
    padding-top: 78px; }
    @media (max-width: 767px) {
      .blog-content .tagsbox {
        width: 100%;
        padding-top: 0; } }
  .blog-content .tagstitle {
    margin-bottom: 9px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .blog-content .tagstitle {
        margin-bottom: 8px; } }
    .blog-content .tagstitle img {
      margin-right: 8px; }
      @media (max-width: 992px) {
        .blog-content .tagstitle img {
          margin-right: 0;
          width: 24px;
          height: 24px; } }
  .blog-content .forthtitle {
    font-size: 28px;
    font-weight: 700;
    color: #AA0601; }
    @media (max-width: 992px) {
      .blog-content .forthtitle {
        font-size: 20px; } }
  .blog-content .tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .blog-content .tags li {
      margin-right: 24px;
      font-size: 24px;
      font-weight: 700;
      color: #AA0601; }
      @media (max-width: 992px) {
        .blog-content .tags li {
          margin-right: 16px;
          font-size: 16px; } }
      @media (max-width: 767px) {
        .blog-content .tags li {
          margin-right: 8px; } }

/*# sourceMappingURL=all.css.map */
