/*font weight*/
$regular-wght: 400;
$medium-wght: 500;
$bold-wght: 700;
$black-wght: 900;

/*color*/
$red-100: #FBF2F2;
$red-200: #AA0601;
$red-300: #650300;

$grey-100: #DCDCDC;
$grey-200: #707070;
$grey-300: #555555;
$grey-400: #212529;

$link: #FFAF60;

$black: #000;
$white: #fff;

$primary-color: $red-200;
$secondary-color: $red-100;